.lista1{
    background-color: wheat;
    height: 50rem;
    width: 80%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.r2{
    height: 15rem;
    width: 50rem;
    background-color: whitesmoke;
    border: .2rem solid black;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.img2{
    height: 12.7rem;
    width: 16rem;
    background-color: whitesmoke;
    border: .2rem solid black;
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto2{
    height: 13rem;
    width: 30rem;
    background-color: whitesmoke;
    margin-top: 1rem;
    margin-left: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.textoarriba{
    height: 3rem;
    width: 30rem;
    background-color: whitesmoke;
    border: .2rem solid black;
}

.textoabajo{
    height: 10rem;
    width: 30rem;
    background-color: whitesmoke;
    border: .2rem solid black;

}