.lista1{
    background-color: wheat;
    height: 50rem;
    width: 126vh;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.r2{
    height: 15rem;
    width: 50rem;
    background-color: whitesmoke;
    border: .2rem solid black;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin-left: 1rem;

}

.img2{
    height: 12.7rem;
    width: 16rem;
    background-color: whitesmoke;
    border: .2rem solid black;
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto2{
    height: 13rem;
    width: 30rem;
    background-color: whitesmoke;
    margin-top: 1rem;
    margin-left: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.textoarriba{
    height: 3rem;
    width: 30rem;
    background-color: whitesmoke;
    border: .2rem solid black;
}

.textoabajo{
    height: 10rem;
    width: 30rem;
    background-color: whitesmoke;
    border: .2rem solid black;

}


.texto{
    width: 190vh;
    height: 6rem;
    border: solid #a3b87f;
    background-color: #c8d9ab;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    border-radius: 1rem;
    border-width: .5rem;
    


}

body{
    background-color: #c8d9ab;
    width: 100vh;

}

.titulo{
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.cabeza{
    border-radius: 1rem;
    height: 5rem;
    width: 190vh;
    margin-top: 0rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logodef{
    object-position: center;
}



#home{
    height: 2.5rem;
    width: 11rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    border-radius: 30px;
    margin-left: .5rem;
    background-color: transparent;
    
}
.casita{
    height: 2rem;
    width: 2rem;
    left: 0;
}

.vi{
    font-size: 1rem;
}

.populares{
    height: 12rem;
    width: 126vh;
    background-color: #c8d9ab;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.popu1{
    height: 10rem;
    width: 30%;
    background-color: whitesmoke;
    border: .2rem solid black;
    margin-left: 1rem;
}

.popu2{
    height: 10rem;
    width: 30%;
    background-color: whitesmoke;
    border: .2rem solid black;
}

.popu3{
    height: 10rem;
    width: 30%;
    background-color: whitesmoke;
    border: .2rem solid black;
}

.comida-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.tarjeta{
    width: 18rem;
    height: 10rem;
    border-radius: 2rem;
    box-shadow: black;
    overflow: auto;
    transition: transsform o.3s ease;
    margin: 2rem;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.r5{
    height: 15rem;
    width: 50rem;
    background-color: lightgray;
    border: .2rem solid black;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;

}

.texto3{
    height: 13rem;
    width: 30rem;
    background-color: lightgray;
    margin-top: 1rem;
    margin-left: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tarr{
    height: 3rem;
    width: 30rem;
    background-color: whitesmoke;
    border: .2rem solid black;
}

.tabj{
    height: 10rem;
    width: 30rem;
    background-color: whitesmoke;
    border: .2rem solid black;
}

.img3{
    height: 12.7rem;
    width: 16rem;
    background-color: whitesmoke;
    border: .2rem solid black;
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

p{
    font-size: 1.1rem;
    margin-left: 1rem;
}

h4{
    margin-left: 1rem;
}

h3{
    margin-left: 1rem;
    font-size: 1.3rem;
}

.filtros{
    height: 30rem;
    width: 25rem;
    background-color: #a3b87f;
    margin-top: 1rem;
    border-radius: 1rem;
    margin-left: 1rem;

}

.title{
    height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.imgrecetas{
    height: 12.7rem;
    width: 16rem;
}

main{
    width: 100vw;
    height: 35rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.filtrocategoria {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
    background: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

.filtrocategoria select {
    padding: 10px 14px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    min-width: 180px;
}

.filtrado {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  /* Etiquetas */
  .filtrado label {
    font-size: 0.95rem;
    color: #555;
    font-weight: 500;
  }
  
  /* Selectores */
  .filtrado select {
    padding: 10px 12px;
    font-size: 0.95rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  
  .filtrado select:hover {
    border-color: #999;
    background-color: #f0f0f0;
  }
  
  .filtrado select:focus {
    outline: none;
    border-color: #ff7b00;
    box-shadow: 0 0 5px rgba(255, 123, 0, 0.4);
  }
  
  