.rectangulo1{
    width: 90%;
    max-width: 40rem;
    height: 2rem;
    width: 15rem;
    margin: 1rem;
    background-color: whitesmoke;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: .75rem;
    padding: .5rem 1rem;
    justify-content: space-between;
}

.buscador{
    position: fixed; 
    top: .1rem;
    left: 0.625rem; 
    z-index: 100;
    order: 1;
    flex: 0 1 auto;
}

.tbuscador{
    margin: 0;
    font-size: 1rem;
    color: #666;
    font-weight: 400;
    order: 1;
}

.lupa{
    height: auto;
    width: 2rem;
    border-color: transparent;
    cursor: pointer;
    color: transparent;
}