
#boton-volver{
    height: 2.5rem;
    width: 5.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    border-radius: 30px;
    margin-left: .5rem;
    background-color: transparent;
}

.boton-volver{
    font-size: 1rem;
    cursor: pointer;
    
}