
#boton-volver{
    height: 2.5rem;
    width: 5.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    border-radius: 1.875rem;
    margin-left: .5rem;
    background-color: transparent;
}


.boton-volver{
    font-size: 1rem;
    cursor: pointer;
   
}


body {
    background-color: #838f6a;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


#info {
    max-width: 90rem;
}


#imagen {
    object-fit: cover;
    height: 15rem;
    width: 25rem;
    max-width: 25rem;
    max-height: 15rem;
    background-color: #eee;
    border: 0.125rem dashed #B2DFDB;
}


.content-section {
    line-height: 1.75;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 0.25rem solid #000000;
    background-color: #b1ca88;
    color: #4A4A4A;
    border-radius: 0 0.5rem 0.5rem 0;
    display: block;
}


.izq {
    text-align: left;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;    
}


.der {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    margin-top: 3rem;
}


.organizar{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    width: 95%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
}


.datos {
    display: flex;
    flex-direction: column;
}


.apto {
    line-height: 1.75;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 0.25rem solid #000000;
    background-color: #b1ca88;
    color: #4A4A4A;
    border-radius: 0 0.5rem 0.5rem 0;
    display: block;
}


.categoria {
    line-height: 1.75;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 0.25rem solid #000000;
    background-color: #b1ca88;
    color: #4A4A4A;
    border-radius: 0 0.5rem 0.5rem 0;
    display: block;
}


.contenedor-titulo{
    max-width: 120rem;
    width: 95%;
    margin: 1.875rem auto;
    padding: 0.938rem 1.563rem;
    background-color: #b1ca88;
    border: 0.063rem solid rgb(0, 0, 0);
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


.titulo{
    font-family: 'Georgia', serif;
    color: #2c3e50;
    font-size: 2.2em;
    font-weight: 700;
    text-align: center;
    margin: 0;
    line-height: 1.3;
}


.titulo:after {
    content: "";
    display: block;
    width: 3.75rem;
    height: 0.188rem;
    background-color: #e67e22;
    margin: 0.5rem auto 0;
    border-radius: 0.125rem;
}


.todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
