.qvach{
    text-align: center;
    font-size: 2rem;
    margin-top: 1.3rem;
    color: #000;
    font-family: "calistoga", regular;
    margin-left: 28rem;
}

.rectángulo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: #a3b87f;
    border-color: black;
    border-width: .1rem;
    border-style: solid;
    margin-bottom: 1.5rem;
}

body{
    background-color: #c8d9ab;
    margin: 0;
    padding: 0;
}

.op{
    text-align: center;
    font-size: 2rem;
    margin-top: 700px;
    color: transparent;
}

.bre{
    margin-top: -850px;
}

.logodef{
    border-color: transparent;
    height: 5rem;
    width: 8rem;
    margin-left: 35rem;
    margin-top: 1.3rem;
    object-position: center;
}

.salados{
    border-radius: 3rem;
    position: relative;
    display: flex;
    left: 7rem;
}

.dulces{
    border-radius: 3rem;
    margin-top: 1rem;
    position: relative;
    display: flex;
    left: 7rem;
    height: 11.5rem;
    width: 68rem;
}

.bebidas{
    border-radius: 3rem;
    margin-top: 1rem;
    position: relative;
    display: flex;
    left: 7rem;
    height: 11.5rem;
    width: 68rem;
}

.sintacc{
    position: absolute;
    left: 25rem;
    bottom: -18.5rem;
    width: 5rem;
    height: 5rem;
    border-color: transparent;
}

.bvegano{
    position: absolute;
    left: 35rem;
    bottom: -19rem;
    width: 6rem;
    height: 6rem;
}

.linea1 {
    border: .1rem solid black;
    position: absolute;
    object-position: left; 
    top: 51.5rem;
    width: 30rem;
    margin-top: 6.5rem;
}

.linea2 {
    border: .1rem solid black;
    position: absolute;
    right: 0rem;
    object-position: right; 
    top: 51.5rem;
    width: 30rem;   
    margin-top: 6.5rem;
}

#boton1{
    border-radius: 3rem;
    position: relative;
    display: flex;
    left: 7rem;
    height: 11.5rem;
    width: 68rem;
    background-image: url("IMAGENES FRONT/Botonsalados.png");
}

#boton1:hover{
    transform: scale(1.05);
    
}

#bdulces{
    border-radius: 3rem;
    position: relative;
    display: flex;
    left: 7rem;
    height: 11.5rem;
    width: 68rem;
    background-image: url("IMAGENES FRONT/dulces.png");
}

#bdulces:hover{
    transform: scale(1.05);
}

.botones-comida{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#bbebidas{
    border-radius: 3rem;
    position: relative;
    display: flex;
    left: 7rem;
    height: 11.5rem;
    width: 68rem;
    background-image: url("IMAGENES FRONT/Botón\ Bebidas.png");
}

#bbebidas:hover{
    transform: scale(1.05);
}

.botones-abajo{
    width: 100%;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    gap: 10rem;
}

#bst{
    position: relative;
    display: flex;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: url("IMAGENES\ FRONT/botn comida sin tacc.png");
}
    
#bvegano{
    position: relative;
    display: flex;
    border-radius: 50%;
    background-image: url("IMAGENES\ FRONT/boton comida vegana.png");
    width: 6rem;
    height: 6rem;
}
header{
    height: 5vh;
    width: 100%;
    margin-top: 6rem;
}

#bmenu{
    height: 4rem;
    width: 5rem;
    border-color: transparent;
    margin-top: 1.rem;
    background-color: transparent;

}

.boton-menu{
    height: 2rem;
    width: 3rem;
    margin-left: 75rem;
}

#menudesplegable {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: whitesmoke;
    color: white;
    padding-top: 60px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
}
#menudesplegable.open {
    transform: translateX(0); 
}

#menudesplegable ul {
    list-style: none;
    padding: 0;
}

#menudesplegable li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

#menudesplegable li a:hover {
    background-color: whitesmoke;
}

#home{
    height: 3.5rem;
    width: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-radius: 30px;
    margin-left: .5rem;
    
}
.casita{
    height: 3rem;
    width: 3rem;
    left: 0;
}

.vi{
    font-size: 1rem;
}

#log{
    height: 3.5rem;
    width: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-radius: 30px;
    margin-left: .5rem;
    margin-top: 1rem;
}

.usuario{
    height: 3rem;
    width: 3rem;
    left: 0;
}

.IS{
    font-size: 1rem;
}


#recetario{
    height: 3.5rem;
    width: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-radius: 30px;
    margin-left: .5rem;
    margin-top: 1rem;
}

.libro{
    height: 3.5rem;
    width: 3rem;
    left: 0;
    margin-bottom: .5rem;
}

.mr{
    font-size: 1rem;
}

#destacados{
    height: 3.5rem;
    width: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .6rem;
    border-radius: 30px;
    margin-left: .5rem;
    margin-top: 1rem;
}

.estrella{
    height: 2.5rem;
    width: 2.7rem;
    left: 0;
    margin-bottom: .3rem;
    margin-left: .2rem;
}

.rd{
    font-size: 1rem;
}

#cerrar{
    height: 2rem;
    width: 7.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .6rem;
    border-color: transparent;
    margin-left: .5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: whitesmoke;
}

.cruz{
    height: 1rem;
    width: 1rem;
    left: 0;
}

.cm{
    font-size: 1rem;
}

#tlr{
    height: 3.5rem;
    width: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .6rem;
    border-radius: 30px;
    margin-left: .5rem;
    margin-top: 1rem;
}

.logotlr{
    height: 2.5rem;
    width: 2.7rem;
    left: 0;
    margin-bottom: .3rem;
    margin-left: .2rem;
}

.textotlr{
    font-size: 1rem;
}


