.qtgch{
    text-align: center;
    font-size: 32px;
    margin-top: 82px;
    color: #000;
    font-family: "calistoga", regular;
}

body{
    background-image: url(IMAGENES\ FRONT/fondo.PNG);
    background-size: 100%;
}
.OP{
    text-align: center;
    margin-top: 370px;
}

