.qtgch{
    text-align: center;
    font-size: 32px;
    margin-top: 60px;
    color: #000;
    font-family: "calistoga", regular;
}

body{
    background-color: #f3edee;
}
.op{
    text-align: center;
    font-size: 2rem;
    margin-top: 700px;
}

.bre{
    margin-top: -850px;
}

.b1{
    background-color: #C8D7B8;
    font-size: 20px;
    border-radius: 8px;
}

.salados{
    margin-top: 140px;
    border-radius: 3rem;
    position: relative;
    display: flex;
    left: 7rem;
}

.dulces{
    border-radius: 3rem;
    margin-top: 1rem;
    position: relative;
    display: flex;
    left: 7rem;
}

.bebidas{
    border-radius: 3rem;
    margin-top: 1rem;
    position: relative;
    display: flex;
    left: 7rem;
}

.sintacc{
    position: absolute;
    left: 25rem;
    bottom: -18.5rem;
    width: 5rem;
    height: 5rem;
}

.vegano{
    position: absolute;
    left: 35rem;
    bottom: -19rem;
    width: 6rem;
    height: 6rem;
}

.linea1 {
    border: .1rem solid black;
    position: absolute;
    object-position: left; 
    top: 51.5rem;
    width: 30rem;
}

.linea2 {
    border: .1rem solid black;
    position: absolute;
    right: 0rem;
    object-position: right; 
    top: 51.5rem;
    width: 30rem;   
}

#boton1{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.playstation.com%2Fes-ar%2Fgames%2Fmarvels-spider-man-remastered%2F&psig=AOvVaw0s5P5VQu2Zi-uChQv8m6rd&ust=1756992436040000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCPizuYLZvI8DFQAAAAAdAAAAABAE);
    font-size: 100px;
}
