.qtgch{
    text-align: center;
    font-size: 32px;
    margin-top: 60px;
    color: #000;
    font-family: "calistoga", regular;
}

body{
    background-image: url(IMAGENES\ FRONT/fondo.PNG);
    background-size: 100%;
}
.op{
    text-align: center;
    margin-top: 700px;
}

.bre{
    margin-top: -850px;
}

.b1{
    background-color: #C8D7B8;
    font-size: 20px;
    border-radius: 8px;
}

.salados{
    margin-top: 100px;
}

.sintacc{
    position: absolute;
    left: 25rem;
    bottom: -16rem;
    width: 6rem;
    height: 6rem;
}

.vegano{
    position: absolute;
    left: 35rem;
    bottom: -16rem;
    width: 6rem;
    height: 6rem;
}

hr {
    border: 1px solid black; 
    margin: 20px 0; 
    width: 30px;
}